.App {
    width: 565px;
    height: 1200px;
    background: black;
    color: white;
    position: relative;
    border-radius: 50px;
}

.top {
    justify-content: space-between;
    display: flex;
    height: 200px;
    padding: 10px 40px;
    font-size: 30px;
}

.display {
    overflow-x:hidden;
    font-size: 130px;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: right;
    margin-right: 30px;
}

.buttons {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-left: 10px;
}

.bottom {
    position: absolute;
    width: 200px;
    height: 5px;
    background: white;
    bottom: 10px;
    left: 50%;
    border-radius: 4px;
    transform: translateX(-50%);
}
